---
networks:
  servarrnetwork:
    ipam:
      config:
        - subnet: 172.18.0.0/24

services:
  gluetun:
      image: qmcgaw/gluetun
      container_name: gluetun
      cap_add:
        - NET_ADMIN
      devices:
        - /dev/net/tun:/dev/net/tun
      networks:
        servarrnetwork:
          ipv4_address: 172.18.0.2
      ports:
        # - 8888:8888/tcp # HTTP proxy
        # - 8388:8388/tcp # Shadowsocks
        # - 8388:8388/udp # Shadowsocks
        - 8080:8080 # qBittorent web interface
        - 6881:6881 # qBittorent torrent port
        - 6881:6881/udp # qBittorent torrent port udp
        - 6789:6789 # nzbget
        - 6789:6789/udp # nzbget
        - 9696:9696 # prowlarr
      volumes:
        # - gluetun:/gluetun
        - /docker/gluetun:/gluetun
      environment:
        - VPN_SERVICE_PROVIDER=nordvpn
        - VPN_TYPE=openvpn
        - OPENVPN_USER=${VPN_USER}
        - OPENVPN_PASSWORD=${VPN_PASSWORD}
        - TZ=America/New_York
        - UPDATER_PERIOD=24h
        - SERVER_COUNTRIES=${SERVER_COUNTRIES
      healthcheck:
        test: ping -c 1 www.google.com || exit 1
        interval: 60s
        timeout: 20s
        retries: 5
      restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      # - qbittorrent_config:/config
      - /docker/qbittorent:/config
      - /mnt/truenas/media/downloads/qbittorrent:/data/downloads/qbittorrent
    depends_on:
      - gluetun
    network_mode: service:gluetun
    restart: unless-stopped

  nzbget:
    image: lscr.io/linuxserver/nzbget:latest
    container_name: nzbget
    # user: 3001:3001
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - NZBGET_USER=${NZBGET_USER}
      - NZBGET_PASS=${NZBGET_PASSWORD}
      - IGNORE_PERM_ERR=true
    volumes:
      - /docker/nzbget:/config
      # - /mnt/truenas/media/data/downloads:/media
      - /mnt/truenas/media/downloads/nzbget:/data/downloads/nzbget
    depends_on:
      - gluetun
    network_mode: service:gluetun
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /docker/prowlarr:/config
    depends_on:
      - gluetun
    network_mode: service:gluetun
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /docker/sonarr:/config
      # - /mnt/truenas/media/tv:/data/tv #optional
      # - /mnt/truenas/media/downloads:/data/downloads
      - /mnt/truenas/media:/data
    ports:
      - 8989:8989
    restart: unless-stopped
    networks:
      servarrnetwork:
        ipv4_address: 172.18.0.3

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /docker/radarr:/config
      # - /mnt/truenas/media/movies:/data/movies #optional
      # - /mnt/truenas/media/downloads:/data/downloads #optional
      - /mnt/truenas/media:/data #optional
    ports:
      - 7878:7878
    restart: unless-stopped
    networks:
      servarrnetwork:
        ipv4_address: 172.18.0.4


  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /docker/lidarr:/config
      # - /mnt/truenas/media/music:/data/music #optional
      # - /mnt/truenas/media/downloads:/data/downloads #optional
      - /mnt/truenas/media:/data
    ports:
      - 8686:8686
    restart: unless-stopped
    networks:
      servarrnetwork:
        ipv4_address: 172.18.0.5

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /docker/bazarr:/config
      # - /mnt/truenas/media/movies:/data/movies #optional
      # - /mnt/truenas/media/tv:/data/tv #optional
      # - /mnt/truenas/media/downloads:/data/downloads #optional
      - /mnt/truenas/media:/data #optional
    ports:
      - 6767:6767
    restart: unless-stopped
    networks:
      servarrnetwork:
        ipv4_address: 172.18.0.6

  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /docker/overseerr:/config
    ports:
      - 5055:5055
    restart: unless-stopped
    networks:
      servarrnetwork:
        ipv4_address: 172.18.0.7


# volumes:
#   gluetun:
#   qbittorrent_config:
