---
networks:
  servarrnetwork:
    ipam:
      config:
        - subnet: 172.18.0.0/24

services:

  gluetun:
      image: qmcgaw/gluetun
      container_name: ${GLUETUN_CONTAINER_NAME}
      env_file:
        - stack.env
      cap_add:
        - NET_ADMIN
      devices:
        - /dev/net/tun:/dev/net/tun
      networks:
        servarrnetwork:
          ipv4_address: 172.18.0.2
      ports:
        # - 8888:8888/tcp # HTTP proxy
        # - 8388:8388/tcp # Shadowsocks
        # - 8388:8388/udp # Shadowsocks
        - ${QBITTORRENT_WEB_UI_PORT_MAPPING}
        - ${QBITTORRENT_TORRENT_PORT_MAPPING}
        - ${QBITTORRENT_UDP_PORT_MAPPING}
        - ${PROWLARR_PORT_MAPPING}
      volumes:
        - ${GLUETUN_CONFIG_DIR}:/gluetun
      environment:
        - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
        - VPN_TYPE=${VPN_TYPE}
        - OPENVPN_USER=${VPN_USER}
        - OPENVPN_PASSWORD=${VPN_PASSWORD}
        - TZ=${TZ}
        - UPDATER_PERIOD=${VPN_UPDATER_PERIOD}
        - SERVER_COUNTRIES=${VPN_SERVER_COUNTRIES}
      healthcheck:
        test: ping -c 1 www.google.com || exit 1
        interval: 60s
        timeout: 20s
        retries: 5
      restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: ${QBITTORRENT_CONTAINER_NAME}
    env_file:
      - stack.env
    environment:
      - PUID=${QBITTORRENT_PUID}
      - PGID=${QBITTORRENT_PGID}
      - TZ=${TZ}
      - WEBUI_PORT=${QBITTORRENT_WEB_UI_PORT}
      - TORRENTING_PORT=${QBITTORRENT_TORRENTING_PORT}
    volumes:
      # - qbittorrent_config:/config
      - ${QBITTORRENT_CONFIG_DIR}:/config
      - ${QBITTORENT_DOWNLOADS_DIR}:/data/downloads/qbittorrent
    depends_on:
      - gluetun
    network_mode: service:gluetun
    restart: unless-stopped

  nzbget:
    image: lscr.io/linuxserver/nzbget:latest
    container_name: ${NZBGET_CONTAINER_NAME}
    # user: 3001:3001
    env_file:
      - stack.env
    ports:
      - ${NZBGET_PORT_MAPPING}
      - ${NZBGET_UDP_PORT_MAPPING}
    networks:
      servarrnetwork:
        ipv4_address: ${NZBGET_IPV4}
    environment:
      - PUID=${NZBGET_PUID}
      - PGID=${NZBGET_PGID}
      - TZ=${TZ}
      - NZBGET_USER=${NZBGET_USER}
      - NZBGET_PASS=${NZBGET_PASSWORD}
      - IGNORE_PERM_ERR=true
    volumes:
      - ${NZBGET_CONFIG_DIR}:/config
      # Separate out the nzbget downloads dir from other downloads.
      - ${NZBGET_DOWNLOADS_DIR}:/data/downloads/nzbget
    # [Optional] Use the network interface of gluetun to route traffic through vpn.
    # depends_on:
    #   - gluetun
    # network_mode: service:gluetun
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    env_file:
      - stack.env
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - ${PROWLARR_CONFIG_DIR}:/config
    # [Optional] Use the network interface of gluetun to route traffic through vpn.
    depends_on:
      - gluetun
    network_mode: service:gluetun
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: ${SONARR_CONTAINER_NAME}
    env_file:
      - stack.env
    environment:
      - PUID=${SONARR_PUID}
      - PGID=${SONARR_PGID}
      - TZ=${TZ}
    volumes:
      - ${SONARR_CONFIG_DIR}:/config
      - ${SONARR_DATA_ROOT}:/data
    ports:
      - ${SONARR_PORT_MAPPING}
    restart: unless-stopped
    networks:
      servarrnetwork:
        ipv4_address: ${SONARR_IPV4}

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: ${RADARR_CONTAINER_NAME}
    env_file:
      - stack.env
    environment:
      - PUID=${RADARR_PUID}
      - PGID=${RADARR_PGID}
      - TZ=${TZ}
    volumes:
      - ${RADARR_CONFIG_DIR}:/config
      # - /mnt/truenas/media/movies:/data/movies #optional
      # - /mnt/truenas/media/downloads:/data/downloads #optional
      - ${RADARR_DATA_ROOT}:/data #optional
    ports:
      - ${RADARR_PORT_MAPPING}
    restart: unless-stopped
    networks:
      servarrnetwork:
        ipv4_address: ${RADARR_IPV4}

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: ${LIDARR_CONTAINER_NAME}
    environment:
      - PUID=${LIDARR_PUID}
      - PGID=${LIDARR_PGID}
      - TZ=${TZ}
    volumes:
      - ${LIDARR_CONFIG_DIR}:/config
      - ${LIDARR_DATA_ROOT}:/data
    ports:
      - ${LIDARR_PORT_MAPPING}
    restart: unless-stopped
    networks:
      servarrnetwork:
        ipv4_address: ${LIDARR_IPV4}

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: ${BAZARR_CONTAINER_NAME}
    env_file:
      - stack.env
    environment:
      - PUID=${BAZARR_PUID}
      - PGID=${BAZARR_PGID}
      - TZ=${TZ}
    volumes:
      - ${BAZARR_CONFIG_DIR}:/config
      # The containers prefer to be able to see the downloads directory in the root folder.
      # May complain if individual folders are not mounted within the same root dir (container side).
      # - /mnt/truenas/media/movies:/data/movies #optional
      # - /mnt/truenas/media/tv:/data/tv #optional
      # - /mnt/truenas/media/downloads:/data/downloads #optional
      - ${BAZARR_DATA_ROOT}:/data
    ports:
      - ${BAZARR_PORT_MAPPING}
    restart: unless-stopped
    networks:
      servarrnetwork:
        ipv4_address: ${BAZARR_IPV4}

  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: ${OVERSEERR_CONTAINER_NAME}
    env_file:
      - stack.env
    environment:
      - PUID=${OVERSEER_PUID}
      - PGID=${OVERSEER_GUID}
      - TZ=${TZ}
    volumes:
      - ${OVERSEER_CONFIG_DIR}:/config
    ports:
      - {OVERSEER_PORTS}
    restart: unless-stopped
    networks:
      servarrnetwork:
        ipv4_address: ${OVERSEER_IPV4}

  tautulli:
    image: ghcr.io/tautulli/tautulli
    container_name: ${TAUTULLI_CONTAINER_NAME}
    restart: unless-stopped
    env_file:
      - stack.env
    volumes:
      - ${TAUTULLI_CONFIG_DIR}:/config
    environment:
      - PUID=${TAUTULLI_PUID}
      - PGID=${TAUTULLI_PGID}
      - TZ=${TZ}
    ports:
      - ${TAUTULLI_PORTS}

